@model BikeRentalWebApp.ViewModels.ReservationsViewModel
@{
    ViewBag.Title = "Details";
    var id = ViewBag.Id;
}

<h1>Uw reserveringen</h1>

<table class="table" id="reservationsData">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Reservation.Bike_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reservation.PickupStore_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reservation.DropoffStore_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reservation.Start)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reservation.End)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reservation.TotalPrice)
        </th>
    </tr>
</table>
<p>
    @Html.ActionLink("Terug naar de homepagina", "../Home/Index")
</p>

<script src="~/Scripts/ApiReservationCall.js"></script>
<script type="text/javascript"> getCustomerReservations(@id) </script>