@model BikeRentalWebApp.ViewModels.ReservationsViewModel

<h2>Kies hier uw winkel en fiets</h2>
<table class="table">
    <tr>
    <tr>
        <th>
            @Html.ActionLink("Winkel", "Index", new { sortOrder = Model.StoreSort })
        </th>
        <th>
            Naam
        </th>
        <th>
            Merk
        </th>
        <th>
            @Html.ActionLink("Geslacht", "Index", new { sortOrder = Model.GenderSort })
        </th>
        <th>
            @Html.ActionLink("Type", "Index", new { sortOrder = Model.TypeSort })
        </th>
        <th>
           Dagtarief
        </th>
        <th>
            Uurtarief
        </th>
    </tr>

    @foreach (var item in Model.Bikes)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Store.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DailyRate) per dag
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HourRate) per uur
        </td>
        <td>
            @Html.ActionLink("Huur fiets", "Create", new { id = item.Id })
        </td>
    </tr>
    }

</table>
