@model BikeRentalWebApp.ViewModels.ReservationsViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
    @*<tr>
        <th>
            @Html.ActionLink("Store", "Index", new { sortOrder = Model.StoreSort })
        </th>
        <th>
            First Name
        </th>
        <th>
            @Html.ActionLink("BikeType", "Index", new { sortOrder = Model.BikeTypeSort })
        </th>
        <th>Type</th>
        <th>
            @Html.ActionLink("Gender", "Index", new { sortOrder = Model.GenderSort })
        </th>
        <th>Geslacht</th>
    </tr>*@

    @foreach (var item in Model.Bikes)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Store.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.ActionLink("Huur fiets", "Create", new { id = item.Id })
            </td>
        </tr>
    }

</table>
